<a href="https://colab.research.google.com/github/Karunasagar-K/Pandas/blob/main/Task_6_Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
sales_2017=pd.read_csv('Sales Transactions-2017.csv')
sales_2017

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
47285,31/03/2018,Sal:10042,Vkp,10*10 SHEET,25,137,"3,425.00",NaN,"3,425.00"
47286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47288,NaN,Total,NaN,NaN,"607,734.60","669,300.49","9,953,816.13","106,607.00","9,868,583.13"
47289,NaN,Total,NaN,NaN,"7,593,062.00","8,309,116.00","115,778,725.71","936,348.00","115,105,123.71"

In [ ]:
sales_2018=pd.read_csv('Sales Transactions-2018.csv')
sales_2018

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2018,Sal:146,TP13,SILVER POUCH 9*12,50,85,"4,250.00",NaN,"66,724.00"
1,1/4/2018,Sal:146,TP13,RUBBER,5,290,"1,450.00",NaN,NaN
2,1/4/2018,Sal:146,TP13,DURGA 10*12 Blue,"1,600.00",5.5,"8,800.00",NaN,NaN
3,1/4/2018,Sal:146,TP13,DURGA 13*16 BLUE,400,11,"4,400.00",NaN,NaN
4,1/4/2018,Sal:146,TP13,10*12 SARAS-NAT,600,8.1,"4,860.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
44735,31/03/2019,Sal:9610,HAMPI FOODS,SPOON SOOFY,200,40,"8,000.00",NaN,NaN
44736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44738,NaN,Total,NaN,NaN,"666,056.00","1,067,808.80","10,796,991.30","29,999.00","10,787,647.30"
44739,NaN,Total,NaN,NaN,"7,097,803.00","10,024,197.00","117,897,671.80","720,204.00","117,427,983.80"

In [ ]:
sales_2019=pd.read_csv('Sales Transactions-2019.csv')
sales_2019

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2019,Sal:687,BALAJI PLASTICS,DONA-VAI-9100,1,"1,730.00","1,730.00",NaN,"3,460.00"
1,1/4/2019,Sal:687,BALAJI PLASTICS,SMART BOUL(48),1,"1,730.00","1,730.00",NaN,NaN
2,1/4/2019,Sal:688,BALAJI PLASTICS,Vishnu Ice,110,18.5,"2,035.00",NaN,"2,035.00"
3,,,28/3,,0,0,,,
4,1/4/2019,Sal:689,BALAJI PLASTICS,100LEAF -SP,3,585,"1,755.00",NaN,"1,755.00"
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

In [ ]:
sales_data = pd.concat([sales_2017,sales_2018,sales_2019])
sales_data

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

In [ ]:
sales_data.dtypes

Date              object
Voucher           object
Party             object
Product           object
Qty               object
Rate              object
Gross             object
Disc              object
Voucher Amount    object
dtype: object

In [ ]:
sales_data.isnull().sum()

Date               12591
Voucher            12557
Party                 40
Product            12591
Qty                12557
Rate               12558
Gross              12558
Disc              105609
Voucher Amount     83646
dtype: int64

## 1.droping unwanted columns

In [ ]:
sales_data.drop(['Gross','Disc','Voucher Amount'],axis=1,inplace=True)
sales_data

,Date,Voucher,Party,Product,Qty,Rate
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16
19172,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40"

In [ ]:
sales_data.dropna(axis=0,inplace=True)
sales_data

,Date,Voucher,Party,Product,Qty,Rate
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
19167,10/10/2019,Sal:4935,K.SRIHARI,16*20(100-W),140,26
19168,10/10/2019,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16

In [ ]:
sales_data.head(20)

        Date   Voucher                Party             Product  Qty      Rate
0   1/4/2017     Sal:1     SOLANKI PLASTICS       DONA-VAI-9100    2  1,690.00
1   1/4/2017     Sal:1     SOLANKI PLASTICS     LITE FOAM(1200)    6  1,620.00
2   1/4/2017     Sal:2   SARNESWARA TRADERS   VISHNU CHOTA WINE  500        23
3   1/4/2017     Sal:2   SARNESWARA TRADERS     LITE FOAM(1200)    6  1,620.00
4   1/4/2017     Sal:2   SARNESWARA TRADERS       DONA-VAI-9100    5  1,690.00
5   1/4/2017     Sal:2   SARNESWARA TRADERS  CLASSIC ENJOY(750)    1  1,320.00
6   1/4/2017   Sal:898                 Lock        Vishnu 250ml  100        30
7   1/4/2017   Sal:898                 Lock     BLACK DOG-350ML  100        26
8                       khader vali late en
9                                       try
10  1/4/2017  Sal:2497  VAMSI KRISHNA FANCY         Loose Items    1       800
12                              DUMMY ENTRY
13  1/4/2017  Sal:9263  VAMSI KRISHNA FANCY         Loose Items    1       280
15                              dummy entry
16  1/4/2017  Sal:9545                  Vkp         Loose Items    1       695
17                              dummy entry
18  2/4/2017    Sal:16                  KPR     LITE FOAM(1200)    1  1,620.00
19  3/4/2017     Sal:3      BALAJI PLASTICS       90ML RANGEELA  150      14.5
20  3/4/2017     Sal:4           DURGAHOTEL   SILVER POUCH 9*12   10        90
21  3/4/2017     Sal:4           DURGAHOTEL   SILVER POUCH 8*10   10        70

In [ ]:
sales_data.replace(" ", np.nan, inplace=True)
sales_data

,Date,Voucher,Party,Product,Qty,Rate
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
19167,10/10/2019,Sal:4935,K.SRIHARI,16*20(100-W),140,26
19168,10/10/2019,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16

In [ ]:
sales_data.head(20)

        Date   Voucher                Party             Product  Qty      Rate
0   1/4/2017     Sal:1     SOLANKI PLASTICS       DONA-VAI-9100    2  1,690.00
1   1/4/2017     Sal:1     SOLANKI PLASTICS     LITE FOAM(1200)    6  1,620.00
2   1/4/2017     Sal:2   SARNESWARA TRADERS   VISHNU CHOTA WINE  500        23
3   1/4/2017     Sal:2   SARNESWARA TRADERS     LITE FOAM(1200)    6  1,620.00
4   1/4/2017     Sal:2   SARNESWARA TRADERS       DONA-VAI-9100    5  1,690.00
5   1/4/2017     Sal:2   SARNESWARA TRADERS  CLASSIC ENJOY(750)    1  1,320.00
6   1/4/2017   Sal:898                 Lock        Vishnu 250ml  100        30
7   1/4/2017   Sal:898                 Lock     BLACK DOG-350ML  100        26
8        NaN       NaN  khader vali late en                 NaN  NaN       NaN
9        NaN       NaN                  try                 NaN  NaN       NaN
10  1/4/2017  Sal:2497  VAMSI KRISHNA FANCY         Loose Items    1       800
12       NaN       NaN          DUMMY ENTRY                 NaN  NaN       NaN
13  1/4/2017  Sal:9263  VAMSI KRISHNA FANCY         Loose Items    1       280
15       NaN       NaN          dummy entry                 NaN  NaN       NaN
16  1/4/2017  Sal:9545                  Vkp         Loose Items    1       695
17       NaN       NaN          dummy entry                 NaN  NaN       NaN
18  2/4/2017    Sal:16                  KPR     LITE FOAM(1200)    1  1,620.00
19  3/4/2017     Sal:3      BALAJI PLASTICS       90ML RANGEELA  150      14.5
20  3/4/2017     Sal:4           DURGAHOTEL   SILVER POUCH 9*12   10        90
21  3/4/2017     Sal:4           DURGAHOTEL   SILVER POUCH 8*10   10        70

In [ ]:
sales_data.dropna(axis=0,subset=['Date','Voucher','Party','Product','Qty','Rate'],inplace=True)
sales_data

,Date,Voucher,Party,Product,Qty,Rate
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
19167,10/10/2019,Sal:4935,K.SRIHARI,16*20(100-W),140,26
19168,10/10/2019,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16

In [ ]:
sales_data.head(31)

,Date,Voucher,Party,Product,Qty,Rate
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
5,1/4/2017,Sal:2,SARNESWARA TRADERS,CLASSIC ENJOY(750),1,"1,320.00"
6,1/4/2017,Sal:898,Lock,Vishnu 250ml,100,30
7,1/4/2017,Sal:898,Lock,BLACK DOG-350ML,100,26
10,1/4/2017,Sal:2497,VAMSI KRISHNA FANCY,Loose Items,1,800
13,1/4/2017,Sal:9263,VAMSI KRISHNA FANCY,Loose Items,1,280
16,1/4/2017,Sal:9545,Vkp,Loose Items,1,695
18,2/4/2017,Sal:16,KPR,LITE FOAM(1200),1,"1,620.00"
19,3/4/2017,Sal:3,BALAJI PLASTICS,90ML RANGEELA,150,14.5
20,3/4/2017,Sal:4,DURGAHOTEL,SILVER POUCH 9*12,10,90
21,3/4/2017,Sal:4,DURGAHOTEL,SILVER POUCH 8*10,10,70
22,3/4/2017,Sal:4,DURGAHOTEL,CLASSIC 250ML(100),10,30
23,3/4/2017,Sal:4,DURGAHOTEL,"14""7PLY PLATES",200,3.8
24,3/4/2017,Sal:5,SONIYA HIRERS,10*10 TEJA,3,125
25,3/4/2017,Sal:5,SONIYA HIRERS,PAPER JUICE 190ML,20,36
26,3/4/2017,Sal:5,SONIYA HIRERS,APPLE WINE,50,24
27,3/4/2017,Sal:5,SONIYA HIRERS,APPLE 300ML,50,28
28,3/4/2017,Sal:5,SONIYA HIRERS,FANCY IC,20,20
29,3/4/2017,Sal:5,SONIYA HIRERS,SMART BOUL LOOSE,30,23
30,3/4/2017,Sal:5,SONIYA HIRERS,TIRUMALA LEAF(9),1,380
31,3/4/2017,Sal:5,SONIYA HIRERS,SOFT NAPKEENS,5,20
32,3/4/2017,Sal:5,SONIYA HIRERS,14 GREEN,"1,000.00",1.3
33,3/4/2017,Sal:6,VENUGOPAL-INAMADUGU,10*10 MORE,25,136
34,3/4/2017,Sal:7,MAYURI HOTEL,500ML PLASTIC BOULS,"2,000.00",3.5
35,3/4/2017,Sal:8,Vkp,Classic 250ml,100,24
36,3/4/2017,Sal:8,Vkp,BLACK DOG-350ML,100,25.5
37,3/4/2017,Sal:8,Vkp,100LEAF -SP,6,590

In [ ]:
sales_data.reset_index(drop=True,inplace=True)
sales_data.head(20)

        Date   Voucher                Party             Product  Qty      Rate
0   1/4/2017     Sal:1     SOLANKI PLASTICS       DONA-VAI-9100    2  1,690.00
1   1/4/2017     Sal:1     SOLANKI PLASTICS     LITE FOAM(1200)    6  1,620.00
2   1/4/2017     Sal:2   SARNESWARA TRADERS   VISHNU CHOTA WINE  500        23
3   1/4/2017     Sal:2   SARNESWARA TRADERS     LITE FOAM(1200)    6  1,620.00
4   1/4/2017     Sal:2   SARNESWARA TRADERS       DONA-VAI-9100    5  1,690.00
5   1/4/2017     Sal:2   SARNESWARA TRADERS  CLASSIC ENJOY(750)    1  1,320.00
6   1/4/2017   Sal:898                 Lock        Vishnu 250ml  100        30
7   1/4/2017   Sal:898                 Lock     BLACK DOG-350ML  100        26
8   1/4/2017  Sal:2497  VAMSI KRISHNA FANCY         Loose Items    1       800
9   1/4/2017  Sal:9263  VAMSI KRISHNA FANCY         Loose Items    1       280
10  1/4/2017  Sal:9545                  Vkp         Loose Items    1       695
11  2/4/2017    Sal:16                  KPR     LITE FOAM(1200)    1  1,620.00
12  3/4/2017     Sal:3      BALAJI PLASTICS       90ML RANGEELA  150      14.5
13  3/4/2017     Sal:4           DURGAHOTEL   SILVER POUCH 9*12   10        90
14  3/4/2017     Sal:4           DURGAHOTEL   SILVER POUCH 8*10   10        70
15  3/4/2017     Sal:4           DURGAHOTEL  CLASSIC 250ML(100)   10        30
16  3/4/2017     Sal:4           DURGAHOTEL      14"7PLY PLATES  200       3.8
17  3/4/2017     Sal:5        SONIYA HIRERS          10*10 TEJA    3       125
18  3/4/2017     Sal:5        SONIYA HIRERS   PAPER JUICE 190ML   20        36
19  3/4/2017     Sal:5        SONIYA HIRERS          APPLE WINE   50        24

In [ ]:
sales_data.dtypes

Date       object
Voucher    object
Party      object
Product    object
Qty        object
Rate       object
dtype: object

## 2.convert the data types
#### 1.Date(object into datetime)

In [ ]:
sales_data['Date'] = pd.to_datetime(sales_data['Date'])
sales_data.dtypes

Date       datetime64[ns]
Voucher            object
Party              object
Product            object
Qty                object
Rate               object
dtype: object

#### 2.Vocuher

In [ ]:
sales_data['Voucher']=sales_data['Voucher'].apply(lambda a:a.replace('Sal:',' ')).astype(int)
sales_data

,Date,Voucher,Party,Product,Qty,Rate
0,2017-01-04,1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,2017-01-04,1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,2017-01-04,2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,2017-01-04,2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,2017-01-04,2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
95556,2019-10-10,4935,K.SRIHARI,16*20(100-W),140,26
95557,2019-10-10,4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4
95558,2019-10-10,4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16
95559,2019-10-10,4935,K.SRIHARI,10*12 RK,800,8.5
95560,2019-10-10,4935,K.SRIHARI,13*16 WHITE RK,400,16

### 3.Party,Product,rate

In [ ]:
sales_data['Party']=sales_data['Party'].str.upper()
sales_data

,Date,Voucher,Party,Product,Qty,Rate
0,2017-01-04,1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,2017-01-04,1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,2017-01-04,2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,2017-01-04,2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,2017-01-04,2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
95556,2019-10-10,4935,K.SRIHARI,16*20(100-W),140,26
95557,2019-10-10,4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4
95558,2019-10-10,4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16
95559,2019-10-10,4935,K.SRIHARI,10*12 RK,800,8.5
95560,2019-10-10,4935,K.SRIHARI,13*16 WHITE RK,400,16

In [ ]:
sales_data['Product']=sales_data['Product'].str.upper()
sales_data

,Date,Voucher,Party,Product,Qty,Rate
0,2017-01-04,1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,2017-01-04,1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,2017-01-04,2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,2017-01-04,2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,2017-01-04,2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
95556,2019-10-10,4935,K.SRIHARI,16*20(100-W),140,26
95557,2019-10-10,4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4
95558,2019-10-10,4935,K.SRIHARI,13*16 BK(100)KRISHN,320,16
95559,2019-10-10,4935,K.SRIHARI,10*12 RK,800,8.5
95560,2019-10-10,4935,K.SRIHARI,13*16 WHITE RK,400,16

In [ ]:
sales_data['Qty'] = sales_data['Qty'].str.replace(',','').astype(float)
sales_data['Rate'] = sales_data['Rate'].str.replace(',','').astype(float)
sales_data

,Date,Voucher,Party,Product,Qty,Rate
0,2017-01-04,1,SOLANKI PLASTICS,DONA-VAI-9100,2.0,1690.0
1,2017-01-04,1,SOLANKI PLASTICS,LITE FOAM(1200),6.0,1620.0
2,2017-01-04,2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500.0,23.0
3,2017-01-04,2,SARNESWARA TRADERS,LITE FOAM(1200),6.0,1620.0
4,2017-01-04,2,SARNESWARA TRADERS,DONA-VAI-9100,5.0,1690.0
...,...,...,...,...,...,...
95556,2019-10-10,4935,K.SRIHARI,16*20(100-W),140.0,26.0
95557,2019-10-10,4935,K.SRIHARI,10*12 KRISHNA-BK(10,600.0,8.4
95558,2019-10-10,4935,K.SRIHARI,13*16 BK(100)KRISHN,320.0,16.0
95559,2019-10-10,4935,K.SRIHARI,10*12 RK,800.0,8.5
95560,2019-10-10,4935,K.SRIHARI,13*16 WHITE RK,400.0,16.0

In [ ]:
sales_data['Qty'] = sales_data['Qty'].astype(int)
sales_data.dtypes

Date       datetime64[ns]
Voucher             int32
Party              object
Product            object
Qty                 int32
Rate              float64
dtype: object

In [ ]:
sales_data.isnull().sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       0
dtype: int64

In [ ]:
sales_data.shape

(95561, 6)

## Result:
  ### The given sales transaction data of 2017,2018,2019 data has been merged and the data cleaning is done and also the data types of each column is converted as per task instructed.